
<div class="page-header" data-parallax="true"
    style="background-image: url('./../../../assets/img/background1.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <img src="../../../assets/img/newLogo2.png" style="width: 40em;">
            <!-- <h1>MoonDream Capital</h1> -->
            <h4>By focusing on emerging blockchain markets MoonDream Capital aims to provide a consistent platform in
                which upcoming crypto projects can grow within and trust. We’re not just here for take-off, we’re here
                for the whole trip. </h4>
            <br />
        </div>
    </div>
</div>

<div class="navigation-example">
    <div class="section transparent  text-center grad2">
        <div class="container">
            <div class="row">
                <img src="./../../../assets/img/take-off.png" class="rocket">

                <div class="col-md-8 mr-auto ml-auto mission">
                    <h2 class="title2">Our Mission</h2>
                    <h5 class="description2">Foster. Develop. Elevate. These principles are the core of MoonDream
                        Capital. By evolving the nature of traditional Silicon Valley Venture Capitalism we focus on
                        long-term, organic, and sustainable growth for upcoming cryptocurrency startups. MoonDream
                        Capital is seeking to be the go-to destination for the next generation of crypto incubators.
                    </h5>
                    <br>
                    <a href="#kit" class="btn btn-primary btn-round">Join us for lift-off</a>
                </div>
            </div>

            <br /><br />
        </div>
    </div>

    <div class="section transparent text-center grad3">
            <div class="container">
                <h2 class="title2">Our Services</h2>
                <div class="row">
  <div class="containerCarousel">
		<div id="carousel">
			<figure><img src="./assets/img/blockchain-log.png" alt=""></figure>
			<figure><img src="./assets/img/fundManagement.png" alt=""></figure>
			<figure><img src="./assets/img/InfrastructureManagement.png" alt=""></figure>
			<figure><img src="./assets/img/ConsultancyMarketing.png" alt=""></figure>
			<figure><img src="./assets/img/ContentCreation.png" alt=""></figure>
			 <figure><img src="./assets/img/growth2.png" alt=""></figure>
			<!--<figure><img src="./assets/img/growth.png" alt=""></figure>
			<figure><img src="./assets/img/growth.png" alt=""></figure>
			<figure><img src="./assets/img/growth.png" alt=""></figure> -->
		</div>
	</div>
                    <!-- <div class="col-md-6">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/growth.png" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#kit">
                                    <div class="author">
                                        <h4 class="card-title">For Incubation</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    MoonDream Capital’s incubator targets nascent blockchain and cryptocurrency projects
                                    to
                                    discover and increase innovating capacity for developing markets. We aim for
                                    longevity
                                    by providing capital investments, leadership counseling, infrastructure management,
                                    professional networking and competitive talent sourcing to maximize potential
                                    growth.
                                </p>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="col-md-6">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/blockchain-logo.png" alt="..."></a>

                            </div>
                            <div class="card-block">
                                <a href="#kit">
                                    <div class="author">
                                        <h4 class="card-title">For Developed BlockChain Partners</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    MoonDream Capital provides infrastructure management and marketing operations for
                                    mature
                                    blockchain entities in the form of node administration, delegated staking, roadmap
                                    feature enrichments, content development in the form of video and graphic design,
                                    professional sourcing, networking, and governance.
                                </p>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
    </div>

    <div>
        <div class="section-about transparent  text-center grad">
            <div class="container">
                <div class="row">
                <img src="./../../../assets/img/moon.png" class="moon">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title2">About Us</h2>
                        <h5 class="description2">
                            Our deep team of researchers, developers, marketers, investors, and advisors are aligned to
                            support nascent cryptocurrency projects to maturity. Sourced talent from all over the world
                            has created our unique community and allowed us to provide the highest level of professional
                            collaboration.
                        </h5>
                    </div>
                </div>
                <br /><br />
            </div>
        </div>

        <div class="landing-section" style="background-color: transparent;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="text-center title2">Have an idea?</h2>
                        <form  ngNoForm action="mailto:deckerexomg@gmail.com" method="POST" enctype="multipart/form-data" name="EmaiTestForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="title2">Name</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Name" (focus)="focus=true"
                                            (blur)="focus=false">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="title2">Email</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email"
                                            (focus)="focus1=true" (blur)="focus1=false">
                                    </div>
                                </div>
                            </div>
                            <label class="title2">Message</label>
                            <textarea class="form-control" rows="4" placeholder="Tell us about your idea"></textarea>
                            <div class="row">
                                <div class="col-md-4 mr-auto ml-auto">
                                    <button type="submit" class="btn btn-primary btn-round btn-fill boton">Send Message</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div> 