<div>
    
    <div class="page-header page-header-xs">
        <!-- <div class="filter"></div> -->
    </div>
    <div class="cardsBack">
        <h1>The Team</h1>
      
        <ul class="ul-cards">
            

            <li >
                <profile-card></profile-card>

            </li> 
            <li style="--accent-color: #EF6968">
                <profile-card></profile-card>
            </li>
            <li style="--accent-color: #0ED2D1">
                <profile-card></profile-card>
            </li>
            <li style="--accent-color: #c66fa7">
                <profile-card></profile-card>
            </li>
            <!-- <li style="--accent-color: #ccb033">
                <div class="icon"><i class="fa-brands fa-codepen"></i></div>
                <div class="title">Lorem Ipsum</div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est explicabo suscipit
                    amet officia dignissimos iusto.</div>
            </li> -->

        </ul>
    </div>
</div>