<div>
    
    <div class="page-header page-header-xs">
        <!-- <div class="filter"></div> -->
    </div>
    <!-- Responsive, but optimal above 800x450.--->
    <div class="cardsBack">
      <h1>Our Services</h1>
      <ul class="ul-cards">
          <li style="--accent-color: #68AFFF">
              <div class="icon"><img src="../../../assets/img/Icons/Incubation.png" width="100%" alt=""></div>
              <div class="title">Crypto Incubation</div>
              <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est explicabo suscipit
                  amet officia.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur </div>
          </li>
          <li style="--accent-color: #FFA44B">
              <div class="icon"><img src="../../../assets/img/Icons/FundManagement.png" width="100%" alt=""></div>
              <div class="title">Fund Management</div>
              <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est explicabo suscipit
                  amet officia dignissimos orem ipsum dolor sit amet consectetur adipisicing elit. Est explicabo suscipit
                  amet officia dignissimos orem ipsum dolor sit amet consectetur adipisicing elit. Est explicabo suscipit
                  amet officia dignissimos orem ipsum dolor sit amet consectetur adipisicing elit. Est explicabo suscipit
                  amet officia dignissimos iusto, ut iste beatae repellat? Enim!</div>
          </li>
          <li style="--accent-color: #EF6968">
              <div class="icon"><img src="../../../assets/img/Icons/Infrastructure.png" width="100%" alt=""></div>
              <div class="title">Infrastructure Management</div>
              <div class="content"> dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
          </li>
          <li style="--accent-color: #0ED2D1">
              <div class="icon"><img src="../../../assets/img/Icons/ContentCreation.png" width="100%" alt=""></div>
              <div class="title">Content Creation</div>
              <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est explicabo suscipit
                  amet officia dignissimos iusto, ut iste beatae repellat?</div>
          </li>
          <li style="--accent-color: #c66fa7">
              <div class="icon"><img src="../../../assets/img/Icons/ConsultancyMarketing.png" width="100%" alt=""></div>
              <div class="title">Consultancy Marketing</div> 
              <div class="content">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </div>
          </li>

      </ul>
  </div>
</div>